#scare{
  position:fixed;
  z-index:1000;
  display:none;
  width:100%;
  height:100%;
  top:0px;
  text-align:center;
  background-color:#000000;
}
#scare img{
  position: fixed;
  display:block;
  height:90%;
  margin:0 auto;
  width:auto;
  left:25%;

 
}
#evil-laugh{
  position:absolute;
  top:10%;
  width:50%;
  left:25%;
  background-color:#000000;
  display:none;
  z-index: 4000;
  color:rgba(255,255,255,1)!important;
}