body {
	background: url(http://blog.snowmeister.ninja/wp-content/uploads/2015/03/BIGNinja1-1280x500.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#spotlight {
/* 	border: 1px solid red; */
	position: absolute;
	top: 0;
	left: 0;
	
	z-index:200;
}
#power {
	    background-color: grey;
    border-radius: 5px;
    padding: 5px;
    width: auto;
    height: 43px;
    z-index: 10000;
    position: fixed;
    right: 11px;
    bottom: 12px;
}

.btn-danger span.on {
	display: none;
}

.btn-success span.off {
	display: none;
}
#btn-toggle-torch{
	margin-left:10px;
}

.hitspot{
	display:block;
	position: absolute;
}