<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TNAH</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="bower_components/animate.css/animate.min.css" rel="stylesheet" />
    <style>
    	body{
			margin-top:20px;
    	}
    	i.fa{
			cursor: pointer;
    	}
    	.push-down-10{
    		margin-top:10px;
    	}
    	.sub-panel{
    		color:#000;
    		background-color:rgba(255,255,255,0.8);
    		padding-top:10px;
    		border-radius: 5px;
    	}
    </style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
		<div class="col-xs-12">
			<div id="main-panel" class="panel panel-info hidden">
				<div class="panel-heading" id="main-panel-title"></div>
				<div class="panel-body" id="main-panel-body"></div>
			</div>
		</div>
		</div>
	</div>
	<!-- BEGIN: Underscore Template Definition. -->
<script type="text/template" class="js-details-template">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <p><strong>Level Name:</strong> <%- level.name %></p>
            <p><strong>Level Instructions</strong> <%- level.instructions %></p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <p><strong>Level Id:</strong> <%- level.id %> <strong>Level Version</strong> <%- level.version %>.<%- level.revision %></p>
            <p><strong>Created:</strong> <%- level.created %></p>
    </div>
</script>
</body>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/jcanvas/jcanvas.min.js"></script>
<script src="js/tnah.engine.js"></script>
</html>