body {
  background: url(http://henry.snowmeister.co.uk/wp-content/uploads/2016/07/TNAH-Normal-Screen.bmp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.panel{
  background-color:rgba(255,255,255,0.5);
}
div.panel h1{
  font-size:4em;
}
div.panel p{
  font-size:1.25em;
}

#menu, #new, #load, #help, #options, #league{
  margin-top:35%;
  display:none;
}
#devtools{
  margin-top:5%;
  display:none;
}
#menu list-group {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
 
}
#tabs{
  background-color:rgb(255,255,255);
  padding:20px
}
#menu div.panel-body{
  background-color:rgba(255,255,255,0.0);
}
#scare{
  position:absolute;
  z-index:1000;
  display:none;
  width:100%;
  height:100%;
  top:0px;
  text-align:center;
  background-color:#000000;
}
#scare img{
  display:block;
  width:40%;
  margin:0 auto;
  height:auto;
}
#evil-laugh{
  background-color:#000000;
  display:none;
  color:rgba(255,255,255,1)!important;
}
li.list-group-item {
  padding: 0 0 0 0;
  background-color:transparent;
  border-radius:10px;
  border:none;
  margin-top:5px;
}
#lights-mask.off{
background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    display: block;
    left: 0px!important;
    height: 100%!important;
    width: 100%;
    z-index: 2;
}
#lights-mask.on{
background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0px;
    display: block;
    left: 0px!important;
    height: 100%!important;
    width: 100%;
    z-index: 2;
}
#content, #content2, #content3{
  z-index:20;
}
li.list-group-item a {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius:10px;
  display: block;
  color: white;
  font-size: 1.3em;
  padding: 10px;
  text-decoration: none;
  transition: all .2s ease-in-out; 
  z-index:900;
}

#tabs .panel{
      background-color: #fff;
      border: 1px solid #ddd;padding:10px
}
li.list-group-item a:hover {
  background-color: rgba(255, 0, 0, 0.7);
  display: block;
  color: white;
  font-size: 1.3em;
  padding: 10px;
  text-decoration: none;
  transform: scale(1.2);
  z-index:1000;
  margin:10px
}
#text-light-status{
  font-weight:bold;
}

#newgame-tabs{
  padding:10px;
}

#textCountOfTimesLightToggled, #textTotalNumberOfLightTogglesAllowed, .big-slash{
  font-size:9em;
}

h4.txt-heading-suffix{
      position: absolute;
    top: 30px;
    left: 17px;
}